@{
    ViewBag.Title = "About - Sovereign";
}
    <div id="containerIntroduce">
        <div class="containerIntroduceContentHead">
            <p>
                <span style="font-size: 24px;">
                    <strong>Sovereign là ai?</strong>
                </span>
            </p>
        </div>
        <div class="containerIntroduceContent">
            <p>
                Là mấy đứa điên thích lang thang đây đó, tìm hiểu về lịch sử - văn hoá dân tộc, thích nghĩ lớn, thích
                mơ lớn, thích làm những thứ chưa ai làm, thích được tự đày ải mình với những tiêu chuẩn khắt khe và
                điên rồ do chính mình đặt ra.
            </p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro1.jpg" alt="">
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro2.png" alt="">
        </div>
        <div class="containerIntroduceContent">
            <p>
                Sovereign luôn thích đem những thứ mà mọi người nghĩ là chả liên quan gì, kết hợp lại với nhau. Ví
                như, đem lịch sử - văn hoá dân tộc vào thời trang đường phố, hay chất lượng của high fashion vào
                những sản phẩm giá Việt, hoặc kính 3D trong rạp phim và nước hoa trong tiệm lên quần áo. Sắp tới sẽ
                còn nhiều sự kết hợp táo bạo và dữ dội hơn nữa.
            </p>
        </div>
        <div class="containerIntroduceContent">
            <p>Vậy nên, anh em cứ yên tâm, anh em không bao giờ đoán được tụi tui sẽ làm gì tiếp theo đâu.</p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro3.jpg" alt="">
        </div>
        <div class="containerIntroduceContentHead">
            <p>
                <span style="font-size: 24px;">
                    <strong>Sovereign muốn gì?</strong>
                </span>
            </p>
        </div>
        <div class="containerIntroduceContent">
            <p>
                Chặng đường suốt 7 năm qua của Sovereign chưa bao giờ lệch khỏi 1 mục tiêu duy nhất: “Tạo ra những
                sản phẩm tốt nhất người Việt làm được, để người Việt sử dụng và tự hào kể về điều đó”. Từ lúc sơ
                khai đã như vậy, hiện tại đang như vậy và tương lai vẫn sẽ như vậy. Thề!
            </p>
        </div>
        <div class="containerIntroduceContent">
            <p>
                Sovereign thích dùng sản phẩm chất lượng của mình nói với cả thế giới, đặc biệt là người Việt Nam
                rằng: chúng ta hoàn toàn có thể tạo ra những sản phẩm chất lượng không kém gì nước ngoài.
            </p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro5.jpg" alt="">
        </div>
        <div class="containerIntroduceContent">
            <p>
                Sovereign thích kể chuyện và càng thích đem những câu chuyện đó vào sản phẩm của mình. Từ những sản
                phẩm mang đậm dấu ấn lịch sử kiêu hùng như Con Rồng - Cháu Tiên, Đại Định Sơn Hà, 4575, Cá chép hoá
                rồng... cho đến những bộ sưu tập chứa đựng giá trị văn hóa đang dần lụi tàn như K’Ho, Baby don’t
                cry, hay chỉ đơn giản là văn hoá dân gian lắc Bầu Cua, 12 con giáp... tất cả đều để thoả mãn sở
                thích này. Trong thời gian tới, nếu có sở thích mới, tụi tui lại kể về nó cho anh em nghe qua từng
                sản phẩm.
            </p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro4.jpg" alt="">
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro6.png" alt="">
        </div>
        <div class="containerIntroduceContent">
            <p>
                Sovereign cũng không sợ đồ của mình bị làm giả. Sẽ không có một cơ sở làm hàng fake nào đủ rảnh để
                kiểm tra 5 lần 7 lượt từng cái áo, cái quần, từng sợi chỉ thừa,... cũng không ai rảnh mà vắt tay lên
                trán mỗi đêm để suy nghĩ xem anh em sẽ gặp vấn đề gì với từng món đồ mình mặc mà thêm những chi tiết
                nhỏ như dây khử mùi nhập từ Nhật, túi quần ẩn với khoá YKK, hay chất liệu chống tia cực tím đến 50+
                như tụi tui đâu. Tuy hay làm khùng làm điên, làm này làm kia cho tốn tiền, tốn thời gian nhưng mọi
                thứ tụi tui làm đều có lý do của nó.
            </p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro7.png" alt="">
        </div>
        <div class="containerIntroduceContent">
            <p>
                Vậy nên, hãy nói với Sovereign điều anh em cần, tụi tui sẽ biến mong muốn đó thành hiện thực. Vì tụi
                tui sống là để làm cho cuộc đời anh em tươi vui và xinh đẹp hơn. Từ lúc sơ khai đã như vậy, hiện tại
                đang như vậy và tương lai vẫn sẽ như vậy. Thề!
            </p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/IntroSovereign.jpg" alt="">
        </div>
        <div class="containerIntroduceContentMain">
            <p>PS: THỀ!</p>
        </div>
        <div class="containerIntroduceImageIntro">
            <img src="~/Asset/img/Introduce/intro8.png" alt="">
        </div>
    </div>

    