@{
    ViewBag.Title = "Contact - Sovereign";
}
<div id="containerContact">
    <div class="inner">
        <h1>LIÊN HỆ</h1>
        <div class="contactContent">
            <!-- Liên hệ 1 -->
            <h3 class="titleAddress">Sovereign Đống Đa</h3>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="call"></ion-icon>
                    <p class="contactInfor">
                        086 913 2529 - 038 987 6510
                    </p>
                </div>
            </div>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="home"></ion-icon>
                    <p class="contactInfor">
                        K66/h1/09 Đống Đa, Phường Thuận Phước, Hải Châu, Đà Nẵng
                    </p>
                </div>
            </div>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="mail"></ion-icon>
                    <a href="mailto:sovereign.cc2023@gmail.com" class="contactInfor">
                        sovereign.cc2023@gmail.com
                    </a>
                </div>
            </div>
        </div>
        <!-- Liên hệ 2 -->
        <div class="contactContent">
            <h3 class="titleAddress">Sovereign Lê Thị Tính</h3>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="call"></ion-icon>
                    <p class="contactInfor">
                        086 913 2529 - 0775 459 136
                    </p>
                </div>
            </div>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="home"></ion-icon>
                    <p class="contactInfor">
                        60/1, Lê Thị Tính, Phường An Khuê, Thanh Khuê, Đà Nẵng
                    </p>
                </div>
            </div>
        </div>
        <!-- Liên hệ 3 -->
        <div class="contactContent">
            <h3 class="titleAddress">Sovereign Hải Phòng</h3>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="call"></ion-icon>
                    <p class="contactInfor">
                        086 913 2529 - 0971 107 165
                    </p>
                </div>
            </div>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="home"></ion-icon>
                    <p class="contactInfor">
                        100 Hải Phòng, Phường Thuận Phước, Hải Châu, Đà Nẵng
                    </p>
                </div>
            </div>
        </div>

        <!-- Liên hệ 4 -->
        <div class="contactContent">
            <h3 class="titleAddress">Sovereign Nguyễn Văn Linh</h3>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="call"></ion-icon>
                    <p class="contactInfor">
                        086 913 2529 - 0123 456 789
                    </p>
                </div>
            </div>
            <div class="contactItem">
                <div class="contactIcon">
                    <ion-icon class="icon" name="home"></ion-icon>
                    <p class="contactInfor">
                        254 Nguyễn Văn Linh, Phường Thạc Gián, Thanh Khuê, Đà Nẵng
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>