
@{
    ViewBag.Title = "_SovereignHomePage";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sovereign</title>
    <link rel="shortcut icon" href="~/Asset/img/Shortcut_Logo.jpg">
    <link rel="stylesheet" href="~/Asset/css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div id="wrapper">

        @* Header: đổ dữ liệu theo kiểu Html.Partial sau đó chuyển về MvcHtmlString *@
        @{
            var headerPartial = Html.Partial("_Header");
            headerPartial = new MvcHtmlString(headerPartial.ToString());
        }
        @headerPartial

        @RenderBody()

        @* Footer: đỗ dữ liệu theo kiểu RenderPartial *@
        @{ Html.RenderPartial("_Footer");}
    </div>
    <div id="backtop">
        <ion-icon name="rocket"></ion-icon>
    </div>
    <script src="~/Asset/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#backtop').fadeIn();
                } else {
                    $('#backtop').fadeOut();
                }
            })
        })
        $('#backtop').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 500);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
